<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.gudi.project.dao.MemberDAO">

	<select id="login" resultType="String"> 
	SELECT mem_email FROM member
		WHERE mem_email = #{param1} AND mem_pw = #{param2} 
	</select>
	
	<select id="overlay" resultType="String"> 
	SELECT mem_email FROM member
		WHERE mem_email = #{param1} 
	</select>
	
	<select id="over" resultType="String"> 
	SELECT mem_nickname FROM member
		WHERE mem_nickname = #{param1} 
	</select>
	
	<insert id="join"> 
	INSERT INTO member(mem_num, mem_email, mem_pw,
		mem_name, mem_nickname, mem_birth, mem_phon, mem_sex, mem_ban,
		mem_autority)
		VALUES(nextval(member_seq),#{param1},#{param2},#{param4},#{param5},#{param6},#{param7},#{param8},1,'사용자')
	</insert>
	
	<insert id="profileInsert"> 
	INSERT INTO profile(mem_num, height, weight)
		VALUES(#{param1},0,0) 
	</insert>
	
	<insert id="profilePhoto"> 
	INSERT INTO pro_photo(mem_num, reg_date, pho_name,
		chan_name) VALUES(#{param1},220101,'없음','없음') 
	</insert>
	
	<select id="selectMemNum" resultType="int" > 
		SELECT mem_num FROM member WHERE mem_email = #{param1} 
	</select>
	
	<select id="find_idForm1" resultType="String"> 
	SELECT mem_email FROM
		member WHERE mem_name = #{param1} AND mem_phon = #{param2} 
	</select>
	
	<select id="find_pwForm_2" resultType="String"> 
	SELECT mem_pw FROM member
		WHERE mem_name = #{param1} AND mem_email = #{param2} 
	</select>
	
	<update id="pwUpdate"> 
	UPDATE member SET mem_pw = #{param1} WHERE mem_email = #{param2};
	</update>

</mapper>